<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154097527771-du2kvtufm7jc9a0licitqdrk8uh99jgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154097527771-du2kvtufm7jc9a0licitqdrk8uh99jgi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>154097527771-ns8nj07i6qhlqdea0tuo7el8mtfh13dp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGWlSDzxiO3VUxI0ojHyuc_fq9CeynmGg</string>
	<key>GCM_SENDER_ID</key>
	<string>154097527771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>live.ebox.tv</string>
	<key>PROJECT_ID</key>
	<string>live-tv-15f2e</string>
	<key>STORAGE_BUCKET</key>
	<string>live-tv-15f2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154097527771:ios:78770c6a83ef63540455fe</string>
	<key>DATABASE_URL</key>
	<string>https://live-tv-15f2e.firebaseio.com</string>
</dict>
</plist>